html, body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    text-align: center;
}
/*/********** Large devices only **********/
@media (min-width: 992px) {
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    background: #aaa;
    margin: 10px auto;
    position: relative;
    text-align:center;
}

.column-left, .column-middle, .column-right  {

    background: green;
    /*height: 100px;*/
    width: 20%;
    margin: 10px;
   	padding: 4%;
   	border: 3px solid black;
	position: relative;
}

 .topcorner{
 	background: grey;
   position:absolute;
   width: 33%;
   border: 3px solid black;
   top:0;
   right:0;
  }
 }

/*********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px){
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background: #aaa;
    margin: 10px auto;
    position: relative;
    text-align:center;
}

.column-left, .column-middle  {

    background: red;
    /*height: 100px;*/
    width: 30%;
    margin: 10px;
   	padding: 4%;
   	border: 3px solid black;
	position: relative;
}

.column-right {
	background: red;
	width: 70%;
	padding: 1%;
   	border: 3px solid black;
	position: relative;
}

 .topcorner{
 	background: grey;
   position:absolute;
	width: 33%;
   border: 3px solid black;
   top:0;
   right:0;
  }
 }

 /*********** Small devices only **********/
@media (max-width: 767px) {
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    background: #eee;
    margin: 10px auto;
    position: relative;
    text-align:center;
}

.column-left  {

    background: white;
    /*height: 100px;*/
    width: 30%;
    margin: 10px;
   	padding: 4%;
   	border: 3px solid black;
	position: relative;
}
.column-middle  {

    background: white;
    /*height: 100px;*/
    width: 30%;
    margin: 10px;
   	padding: 4%;
   	border: 3px solid black;
	position: relative;
}

.column-right {
	background: white;
	width: 70%;
	padding: 1%;
   	border: 3px solid black;
	position: relative;
}
 .topcorner{
 	background: grey;
   position:absolute;
   width: 33%;
   border: 3px solid black;
   top:0;
   right:0;
  }
 }